<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.owenwalsh.capabilityconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.TutorialActivity" />
        <activity android:name=".View.StudentActivity" />
        <activity android:name=".View.AddEditTutorial" />
        <activity android:name=".View.AssessmentActivity" />
        <activity android:name=".View.CompetencyActivity" />
        <activity android:name=".View.AddEditAssessmentActivity" />
        <activity android:name=".View.AddEditCompetencyActivity" />
        <activity android:name=".View.AttendanceActivity" />
        <activity android:name=".View.WeeksActivity"></activity>
    </application>

</manifest>